# {'production' | 'development'}
NODE_ENV=
# {string} Format: "postgresql://user:password@host:port/database"
DATABASE_URL=
# {string} Random string used to sign JWT tokens
JWT_SECRET=
# {number}
PUBLIC_OSU_CLIENT_ID=
# {string}
OSU_CLIENT_SECRET=
# {string}
PUBLIC_OSU_REDIRECT_URI=
# {string}
PUBLIC_DISCORD_CLIENT_ID=
# {string}
DISCORD_CLIENT_SECRET=
# {string}
PUBLIC_DISCORD_REDIRECT_URI=
# {string} Bot token from the registered application
DISCORD_BOT_TOKEN=
# {string} Format: "https://storage.service.com/username"
STORAGE_ENDPOINT=
# {string}
STORAGE_PASSWORD=
# {string}
PUBLIC_PAYPAL_CLIENT_ID=
# {string}
PAYPAL_CLIENT_SECRET=
# {number[]} Array of osu! user IDs that correspond to users who should be admin by default
ADMIN_BY_DEFAULT=
# {string} An email to use as a contact. Format: user@domain.extension
PUBLIC_CONTACT_EMAIL=
