:root {
  /* =~= Theme Properties =~= */
  --theme-font-family-base: system-ui;
  --theme-font-family-heading: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --theme-font-color-base: 0 0 0;
  --theme-font-color-dark: 255 255 255;
  --theme-rounded-base: 6px;
  --theme-rounded-container: 4px;
  --theme-border-base: 1px;
  /* =~= Theme On-X Colors =~= */
  --on-primary: 0 0 0;
  --on-secondary: 0 0 0;
  --on-tertiary: 0 0 0;
  --on-success: 0 0 0;
  --on-warning: 0 0 0;
  --on-error: 0 0 0;
  --on-surface: 255 255 255;
  /* =~= Theme Colors  =~= */
  /* primary | #ea6ca7 */
  --color-primary-50: 252 233 242; /* ⬅ #fce9f2 */
  --color-primary-100: 251 226 237; /* ⬅ #fbe2ed */
  --color-primary-200: 250 218 233; /* ⬅ #fadae9 */
  --color-primary-300: 247 196 220; /* ⬅ #f7c4dc */
  --color-primary-400: 240 152 193; /* ⬅ #f098c1 */
  --color-primary-500: 234 108 167; /* ⬅ #ea6ca7 */
  --color-primary-600: 211 97 150; /* ⬅ #d36196 */
  --color-primary-700: 176 81 125; /* ⬅ #b0517d */
  --color-primary-800: 140 65 100; /* ⬅ #8c4164 */
  --color-primary-900: 115 53 82; /* ⬅ #733552 */
  /* secondary | #b47ff0 */
  --color-secondary-50: 244 236 253; /* ⬅ #f4ecfd */
  --color-secondary-100: 240 229 252; /* ⬅ #f0e5fc */
  --color-secondary-200: 236 223 251; /* ⬅ #ecdffb */
  --color-secondary-300: 225 204 249; /* ⬅ #e1ccf9 */
  --color-secondary-400: 203 165 245; /* ⬅ #cba5f5 */
  --color-secondary-500: 180 127 240; /* ⬅ #b47ff0 */
  --color-secondary-600: 162 114 216; /* ⬅ #a272d8 */
  --color-secondary-700: 135 95 180; /* ⬅ #875fb4 */
  --color-secondary-800: 108 76 144; /* ⬅ #6c4c90 */
  --color-secondary-900: 88 62 118; /* ⬅ #583e76 */
  /* tertiary | #74a2ec */
  --color-tertiary-50: 234 241 252; /* ⬅ #eaf1fc */
  --color-tertiary-100: 227 236 251; /* ⬅ #e3ecfb */
  --color-tertiary-200: 220 232 250; /* ⬅ #dce8fa */
  --color-tertiary-300: 199 218 247; /* ⬅ #c7daf7 */
  --color-tertiary-400: 158 190 242; /* ⬅ #9ebef2 */
  --color-tertiary-500: 116 162 236; /* ⬅ #74a2ec */
  --color-tertiary-600: 104 146 212; /* ⬅ #6892d4 */
  --color-tertiary-700: 87 122 177; /* ⬅ #577ab1 */
  --color-tertiary-800: 70 97 142; /* ⬅ #46618e */
  --color-tertiary-900: 57 79 116; /* ⬅ #394f74 */
  /* success | #53ea94 */
  --color-success-50: 229 252 239; /* ⬅ #e5fcef */
  --color-success-100: 221 251 234; /* ⬅ #ddfbea */
  --color-success-200: 212 250 228; /* ⬅ #d4fae4 */
  --color-success-300: 186 247 212; /* ⬅ #baf7d4 */
  --color-success-400: 135 240 180; /* ⬅ #87f0b4 */
  --color-success-500: 83 234 148; /* ⬅ #53ea94 */
  --color-success-600: 75 211 133; /* ⬅ #4bd385 */
  --color-success-700: 62 176 111; /* ⬅ #3eb06f */
  --color-success-800: 50 140 89; /* ⬅ #328c59 */
  --color-success-900: 41 115 73; /* ⬅ #297349 */
  /* warning | #f4dd48 */
  --color-warning-50: 253 250 228; /* ⬅ #fdfae4 */
  --color-warning-100: 253 248 218; /* ⬅ #fdf8da */
  --color-warning-200: 252 247 209; /* ⬅ #fcf7d1 */
  --color-warning-300: 251 241 182; /* ⬅ #fbf1b6 */
  --color-warning-400: 247 231 127; /* ⬅ #f7e77f */
  --color-warning-500: 244 221 72; /* ⬅ #f4dd48 */
  --color-warning-600: 220 199 65; /* ⬅ #dcc741 */
  --color-warning-700: 183 166 54; /* ⬅ #b7a636 */
  --color-warning-800: 146 133 43; /* ⬅ #92852b */
  --color-warning-900: 120 108 35; /* ⬅ #786c23 */
  /* error | #ff5c5c */
  --color-error-50: 255 231 231; /* ⬅ #ffe7e7 */
  --color-error-100: 255 222 222; /* ⬅ #ffdede */
  --color-error-200: 255 214 214; /* ⬅ #ffd6d6 */
  --color-error-300: 255 190 190; /* ⬅ #ffbebe */
  --color-error-400: 255 141 141; /* ⬅ #ff8d8d */
  --color-error-500: 255 92 92; /* ⬅ #ff5c5c */
  --color-error-600: 230 83 83; /* ⬅ #e65353 */
  --color-error-700: 191 69 69; /* ⬅ #bf4545 */
  --color-error-800: 153 55 55; /* ⬅ #993737 */
  --color-error-900: 125 45 45; /* ⬅ #7d2d2d */
  /* surface | #433d43 */
  --color-surface-50: 227 226 227; /* ⬅ #e3e2e3 */
  --color-surface-100: 217 216 217; /* ⬅ #d9d8d9 */
  --color-surface-200: 208 207 208; /* ⬅ #d0cfd0 */
  --color-surface-300: 180 177 180; /* ⬅ #b4b1b4 */
  --color-surface-400: 123 119 123; /* ⬅ #7b777b */
  --color-surface-500: 67 61 67; /* ⬅ #433d43 */
  --color-surface-600: 60 55 60; /* ⬅ #3c373c */
  --color-surface-700: 50 46 50; /* ⬅ #322e32 */
  --color-surface-800: 40 37 40; /* ⬅ #282528 */
  --color-surface-900: 33 30 33; /* ⬅ #211e21 */
}
